.page-slide.p2
    .container
        h1.text-title Selected work
        .js-work-slider.work-slider
                div.js-slide-1 
                    .work-slide
                        .work-slide-img
                            img(src="./img/work-1.jpg", alt="")
                        .work-slide-title Victory
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                div.js-slide-2 
                    .work-slide
                        .work-slide-img
                            img(src="./img/work-2.jpg", alt="")
                        .work-slide-title Metiew & Smith
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                div.js-slide-3 
                    .work-slide
                        .work-slide-img
                            img(src="./img/work-3.jpg", alt="")
                        .work-slide-title Alex Nowak
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor