.page-slide.p4
        .container
            .contact
                .modall
                    span Pawia 5,31-154 Krakow,Poland
                    a(href="#") ouremail@gmail.com
                    a(href="#") +48 12 628 75 60
                    ul
                        li Behance
                        li dribbble
                        li COUNTACT US