.page-slide.p3
    .container
        .about-banner
            h2 
                | We
                br
                | belive in
                br 
                | passionate
                br 
                | people
            a(href="#") career
                i.fas.fa-arrow-right
            img(src="./img/about-visual.png", alt="")
        .option-banner
            a(href="#")
                span winners
            a(href="#")
                span philosophy
            a(href="#")
                span history