.page-slide
    .container
        .intro-banner
            .row
                .text-title-l
                    h1 Your next interactive experience
            button.cat hire us
                i.fas.fa-arrow-right
            .img-slide
                img(src="./img/img-slide-1.png", alt="Welcome")
        .intro-option
            a(href="#")
                h3 metiew & smith
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
            a(href="#")
                h3 fantasy interactive
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
            a(href="#")
                h3 paul & shark
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.