.page-slide.p5
    .container
        h2.title-hireus You want us to do
        form.work-request
            .work-request__options
                span.options-a
                    input(type="checkbox" id="opt-1")
                    label(for="opt-1") 
                        i.fas.fa-check 
                        | App Design
                    input(type="checkbox" id="opt-2")
                    label(for="opt-2") 
                        i.fas.fa-check 
                        | Graphic Design
                    input(type="checkbox" id="opt-3")
                    label(for="opt-3") 
                        i.fas.fa-check 
                        | Motion Design
                span.options-b
                    input(type="checkbox" id="opt-4")
                    label(for="opt-4") 
                        i.fas.fa-check 
                        | UX Design
                    input(type="checkbox" id="opt-5")
                    label(for="opt-5") 
                        i.fas.fa-check 
                        | Webdesign
                span.options-c
                    input(type="checkbox" id="opt-6")
                    label(for="opt-6") 
                        i.fas.fa-check 
                        | Marketing
            .info-inputs
                .info-name
                    input(type="text" id="opt-7" spellcheck="false" class="has-value")
                    label(for="opt-7") Name
                .info-email
                    input(type="text" id="opt-8" spellcheck="false" class="has-value")
                    label(for="opt-8") Email
            .info__btn
                .info-send send request