@import "vars"

.page-slider
    width: 100%
    height: 100vh
    background: $color-bg
    color: #fff
    margin: 0
    padding: 0

.page-slide
    width: 100%
    height: 100vh

.slick-list
    border: none
    padding: 4px 0px
    div
        margin: -2px 0px

.container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

