header.header

    a.header-logo(href="")
        img(src="./img/logo-header.png", alt="")
        p global
    

    .header-nav( onclick="showanimate_container(); showviewport(); shownav()" ondblclick="showviewport()")
        span