extends _layouts/home

block content

    main
        .js-page-slider.page-slider
            div
                include _pages/page-1
            div
                include _pages/page-2
            div
                include _pages/page-3
            div
                include _pages/page-4
            div
                .page-slide 5